* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffff;
    background-image: url(../images/bg-for-parrotport.jpg);
}


.header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(4, 8, 30, 0.5), rgb(4, 8, 30, 0.5)), url(../images/header-bgm.jpg);
    background-position: center;
    background-size: cover;
}

.img {
    margin-left: 50px;
    padding-bottom: 20px;
    width: 40px;
}

form input {
    padding: 30px;
    border-radius: 13px;
    margin-top: 40px;
    width: 300px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    outline: none;
}

.row ul {
    display: flex;
}

.row ul li {
    list-style: none;
}

.search1 img {
    position: relative;

}

.row ul li a {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.row ul li a:hover {
    background-color: #FC766AFF;
    border-radius: 10px;
}

.row {
    margin-top: 50px;
    margin-right: 30px;
}

/* boody */
.image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 530px;
    margin-top: 50px;
    transition: 0.5s;

}

.image img:hover {
    box-shadow: rgba(0, 0, 36, 0.25) 0px 54px 55px, rgba(0, 0, 10, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(0.9);
}

.image h1:hover {
    transform: scale(1.1);
}

.image h1 {
    margin-left: 650px;
    border: 1px solid burlywood;
    margin-right: 700px;
    transition: 0.5s;
    border-radius: 10px;
    background-color: skyblue;
}

/* .image h1:hover{
    
} */
.section1 {
    border: 5px solid black;
    width: 1000px;
    /* background-color: dimgray; */
    border-radius: 10px;
    margin-left: 200px;
    font-size: 24px;
    color: #ffff;

}
.video{
    margin-left: 200px;
}
.video video:hover{
    transform: scale(1.1);
}

/* footer */

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
     margin-top: 100px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}